<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>UCREATION</title>
	<!-- All CSS -->
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
    <link href="signup.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cbc18e41e6.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><span class="text-info">U</span><span class="text-primary">CREATION</span></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="portfolio">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="team">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Signup">Signup</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- Sign up form start -->
    <div class="container">
        <h1 class="my-5 head" > Newsletter Signup!</h1>
        
        <form method="post" action="/Signup">
        <div class="form-floating mb-3">
            <i class="icon fa-solid fa-user-tie fa-lg"></i>
            <input type="text" class="form-control" id="floatingName" name="user" placeholder="Name" required>
            <label for="floatingName">Name</label>
        </div>
        <div class="form-floating mb-3">
            <i class="icon fa-solid fa-envelope fa-lg"></i>
            <input type="email" class="form-control" id="floatingEmail" name="address" placeholder="email" required>
            <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
            <i class="icon fa-solid fa-phone fa-lg"></i>
            <input type="tel" class="form-control" id="floatingTel" name="contact" placeholder="phone" required>
            <label for="floatingTel">Phone no:</label>
        </div>
             <button type="submit" class="btn btn-primary mb-5">Submit</button>
        </form>
    </div>
    <!-- Contact starts -->
	<section class="contact section-padding" id="contact">
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Contact Us</h2>
						<p><a href="tel:+2348061942655" > &#128222;+2348061942655</a></P>
							<p><a href="https://www.linkedin.com/company/youcreation/"  ><i class="fa-brands fa-linkedin">  linkedin </i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/_UCreation?t=HpZkAxZyjueJZRTLDgg_GQ&s=09"><i class="fa-brands fa-twitter"></i> Twitter</a></p>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<!--for getting the form download the code from download button-->
				</div>
			</div>
		</div>
	</section><!-- contact ends -->
       	<!-- footer starts -->
	<footer class="bg-primary p-2 text-center ">
		<div class="container">
			<p class="text-white">All Right Reserved By @UCREATION</p>
		</div>
	</footer>
	<!-- footer ends -->
	
	<!-- All Js -->
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>